<h1> Welcome to Viewing Party! </h1>
<h3> Create an account and add friends to view your favorite movies! </h3>

<% if current_user %>
  <%= button_to 'Logout' %>
<% else %>
  <br>
  <%= link_to 'Register as a User', registration_path %>
  <%= button_to 'Log In', '/login', method: :get %>
<% end %>
